@media(max-width: 767px)  {
  .header__navigation  {
    display: block;
    position: absolute;
    top: 55px;
    left: 0;
    background: rgb(245, 246, 246);
    box-shadow: #ccc;
    width: 100%;
    box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.37);
    transition: all 0.4s ease;
    left: -100%;
  }

  .header__menu  {
    display: block;
  }

  .header__navigation.open-menu  {
    left: 0;
  }

  .header__menu li  {
    margin: 40px 0px 40px 33px;
    font-size: 14px;
  }

  .header__menu-collapse  {
    position: relative;
    width: 35px;
    height: 35px;
    display: block;
  }

  .header__menu-collapse:hover  {
    cursor: pointer;
  }

  .header__menu-collapse span,
  .header__menu-collapse::after,
  .header__menu-collapse::before  {
    height: 3px;
    width: 100%;
    position: absolute;
    background: #515758;
    margin: 0 auto;
  }

  .header__menu-collapse span  {
    top: 16px;
  }

  .header__menu-collapse:after,
  .header__menu-collapse:before  {
    content: '';
  }

  .header__menu-collapse:after  {
    bottom: 5px;
  }

  .header__menu-collapse:before  {
    top: 5px;
  }

  .header__menu-collapse.open-menu span  {
    opacity: 0;
    transition: 0.5s;
  }

  .header__menu-collapse.open-menu:before  {
    transform: rotate(38deg);
    top: 16px;
    transition: 0.4s;
  }

  .header__menu-collapse.open-menu:after  {
    transform: rotate(-38deg);
    bottom: 16px;
    transition: 0.4s;
  }

  header  {
    height: 60px;
  }

  .content-wrapper  {
    margin-top: 48px;
  }

  .fixed-pade  {
    overflow: hidden;
  }

  .navigation__item  {
    padding: 15px 0;
    margin: 0 15px;
    font-size: 14px;
    border-bottom: 1px solid #dde0e5;
  }

}