@font-face {
  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/EuclidCircularB-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/EuclidCircularB-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/EuclidCircularB-SemiBold.woff2") format("woff2");
}

@viewport {
  width: device-width;
}

/*----------------------------------*/
.title_h1 {
  margin: 0;
  font-size: 50px;
  font-weight: 700;
  line-height: 49px;
}

.title_h2 {
  margin: 0;
  font-size: 42px;
  font-weight: 700;
  line-height: 46px;
}

.title_h3 {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
}

.title_h4 {
  margin: 0;
}

.text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.text_big {
  margin: 0;
  font-size: 24px;
}

.text_medium {
  margin: 0;
  font-size: 22px;
}

.text_small {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

.button {
  display: inline-block;
  border-radius: 100px;
  padding: 18px 37px 18px 37px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
}

.button_yellow {
  background: #ffc960;
  color: #000000;
}

.button_yellow:hover {
  cursor: pointer;
  background: rgba(255, 213, 134, 0.9);
}

.button_yellow:active {
  background: #ffc960;
}

.button_blue {
  background: #3d50f9;
  color: #ffffff;
}

.button_blue:hover {
  cursor: pointer;
  background: rgba(91, 107, 255, 0.9);
}

.button_blue:active {
  background: #3d50f9;
}

.block_blue {
  background: #3d50f9;
  color: #ffffff;
}

.block_grey {
  background: #2c3442;
  color: #ffffff;
}

.block_beige {
  background: #fff3e1;
  color: #000000;
}

.block_white {
  background: #ffffff;
  color: #000000;
}

.input-text {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.logo-block {
  display: inline-block;
  background: url("../img/logo_ispring.svg") no-repeat;
}

/*----------------------------------*/

.page-block {
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
}

.header {
  border-bottom: 1px solid #dde0e5;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  height: 74px;
}

/*----------------------------------*/
.logo-block_header {
  width: 120px;
  height: 30px;
  margin-right: 33px;
  background-size: contain;
}

.header__navigation {
  margin-right: 156px;
}

.navigation {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  padding-left: 0;
}

.navigation__item {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  margin: 0 27px 0 0;
  white-space: nowrap;
}

.navigation__item:last-child {
  margin-right: 0;
}

.navigation__item:hover {
  cursor: pointer;
}

.navigation__item_list {
  margin-right: 32px;
}

.navigation__item_list::after {
  background: url("../img/menu_list.svg") no-repeat;
  content: "";
  display: inline-block;
  height: 7px;
  position: relative;
  right: -6px;
  top: -1px;
  vertical-align: middle;
  width: 11px;
}

.navigation__link {
  text-decoration: none;
  color: #000000;
}

.service-block {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.service-block__item {
  margin-right: 18px;
  text-decoration: none;
  color: #000000;
  vertical-align: middle;
}

.service-block__item:last-child {
  margin-right: 0;
}

.service-block__item:hover {
  cursor: pointer;
}

.language-box {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  white-space: nowrap;
}

.language-box::after {
  background: url("../img/menu_list.svg") no-repeat;
  content: "";
  display: inline-block;
  height: 7px;
  position: relative;
  right: -6px;
  top: -1px;
  vertical-align: middle;
  width: 11px;
}

.shopping-link {
  background: url("../img/shopping.svg") center / 20px 16px no-repeat;
  width: 20px;
  height: 16px;
}

.search-link {
  background: url("../img/search.svg") center / 15px 15px no-repeat;
  width: 15px;
  height: 15px;
}

.auth-link {
  font-weight: 400px;
  font-size: 15px;
  line-height: 22px;
  white-space: nowrap;
}

.main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.main__article_default {
  width: 1200px;
  box-sizing: border-box;
}

/*----------------------------------*/
/*partner-block*/
.partner-block {
  margin-top: 83px;
  display: grid;
  grid-template-columns: 500px 493px;
  column-gap: 15px;
  align-items: center;
  border-radius: 30px;
  padding: 66px 99px;
}

.partner-block__box_left {
  align-self: start;
  margin-top: 50px;
}

.partner-block__title {
  margin-top: 5px;
  margin-bottom: 29px;
}

.partner-block__text {
  margin: 0;
  line-height: 28px;
  width: 447px;
}

.partner-block__button {
  margin-top: 55px;
}

.partner-block__img-container {
  display: block;
  height: auto;
  max-width: 100%;
}

/*----------------------------------*/
/*join-team-block*/
.join-team-block {
  margin-top: 155px;
  padding-left: 40px;
  display: grid;
  grid-template-columns: 425px 503px;
  justify-content: center;
  column-gap: 110px;
}

.join-team-block__box_left {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.join-team-block__title {
  margin: 0;
  text-align: center;
}

.join-team-block__text {
  margin-top: 25px;
  width: 381px;
}

.join-team-block__company-list {
  margin-top: 45px;
  opacity: 0.3;
  width: 400px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  row-gap: 20px;
}

.join-team-block__box_right {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  margin: 0 auto;
}

.join-team-block__info {
  border-radius: 30px;
  color: #ffffff;
  /* padding: 40px; */
  box-sizing: border-box;
}

.join-team-block__info_grey {
  background: #2c3442;
  padding: 33px 50px 33px 47px;
  margin: 0 0 0 30px;
  width: 332px;
}

.join-team-block__info_yellow {
  background: #ff7449;
  width: 295px;
  padding: 27px 58px 27px 57px;
  margin: -23px 0 -26px 145px;
  z-index: 1;
}

.join-team-block__info_blue {
  padding: 53px 50px 40px 49px;
  width: 503px;
  background: #3d50f9;
}

.info__title {
  font-weight: 600;
  font-size: 42px;
  line-height: 46px;
  margin: 0 0 3px 0;
}

.info__text {
  padding: 0;
  margin: 0;
}

/*----------------------------------*/
/*benefits-block*/
.benefits-block {
  margin-top: 173px;
}

.benefits-block__header {
  margin-bottom: 60px;
  text-align: center;
}

.benefits-block__main {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  gap: 21px;
  justify-content: center;
}

.benefits-block__box {
  background: #fff3e1;
  border-radius: 30px;
  padding: 39px 44px 50px 40px;
}

.benefits-block__title::before {
  content: "";
  display: block;
}

.benefits-block__title_first::before {
  background: url("../img/benefits_1.svg") 0 / 59px 56px no-repeat;
  width: 59px;
  height: 56px;
  margin: 0 0 45px 0;
}

.benefits-block__title_second::before {
  background: url("../img/benefits_2.svg") 0 / 56px 67px no-repeat;
  width: 56px;
  height: 67px;
  margin: 0 0 40px -5px;
}

.benefits-block__title_third::before {
  background: url("../img/benefits_3.svg") 0 / 58px 66px no-repeat;
  width: 58px;
  height: 66px;
  margin: -5px 0 40px -5px;
}

.benefits-block__text {
  margin-top: 18px;
}

.benefits-block__area-button {
  margin-top: 72px;
  text-align: center;
}

/*----------------------------------*/
/*jump-start-block*/
.jump-start-block {
  margin-top: 150px;
  padding: 102px 150px 117px 99px;
  border-radius: 50px;
  display: grid;
  grid-template-columns: 395px 435px;
  column-gap: 121px;
  justify-content: center;
  align-content: center;
}

.jump-start-block__box-left {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: end;
}

.jump-start-block__box-left_inner {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

.jump-start-block__main-title {
  margin-top: -10px;
}

.jump-start-block__main-text {
  margin-top: 28px;
}

.jump-start-block__button {
  margin-top: 55px;
}

.jump-start-block__box-right {
  display: grid;
  grid-template-columns: 55px 355px;
  grid-row: span 2;
  column-gap: 25px;
  row-gap: 32px;
  justify-content: center;
  align-content: start;
}

.jump-start-box__dot-list {
  margin-top: 19px;
  display: grid;
  grid-template-columns: 4px;

  row-gap: 25px;
  justify-content: center;
  align-content: center;
}

.dot-list__item {
  width: 4px;
  height: 4px;
  background: #3d50f9;
  border-radius: 50%;
  justify-items: center;
  align-items: center;
}

.jump-start-box__number-box {
  font-family: "Euclid Circular B", "Arial", sans-serif;
  margin: 0;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jump-start-box__number-box::after {
  content: "";
  background: url("../img/dot_blue.svg") 10px 0 / 4px 4px no-repeat;
  display: inline-block;
  width: 4px;
  height: 4px;
}

.number-box_white {
  background: url("../img/octagon_white.svg") 0 / 55px 55px no-repeat;
  color: #2c3442;
}

.number-box_orange {
  background: url("../img/octagon_orange.svg") 0 / 55px 55px no-repeat;
}

.number-box_blue {
  background: url("../img/octagon_blue.svg") 0 / 55px 55px no-repeat;
}

.jump-start-box__content-box {
  margin-top: 12px;
}

.content-box__text {
  margin-top: 12px;
}

/*promote-block*/
.promote-block {
  margin-top: 150px;
  display: grid;
  grid-template-columns: repeat(2, 490px);
  gap: 20px;
  justify-content: center;
}

.promote-block__box {
  border-radius: 30px;
  padding: 35px 70px 35px 62px;
}

.promote-block__box_main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 73px 95px 80px 65px;
}

.promote-block__main-title {
  width: 330px;
}

.promote-block__title::before {
  content: "";
  display: block;
}

.promote-block__title_first::before {
  background: url("../img/promote_1.svg") 0 / 38px 36px no-repeat;
  width: 38px;
  height: 36px;
  margin-bottom: 9px;
}

.promote-block__title_second::before {
  background: url("../img/promote_2.svg") 0 / 34px 40px no-repeat;
  width: 34px;
  height: 40px;
  margin-bottom: 15px;
}

.promote-block__title_third::before {
  background: url("../img/promote_3.svg") 0 / 37px 35px no-repeat;
  width: 37px;
  height: 35px;
  margin-bottom: 20px;
}

.promote-block__text {
  margin-top: 11px;
}

/*----------------------------------*/
/*manage-block*/
.manage-block {
  margin-top: 150px;
  margin-left: -75px;
  display: grid;
  grid-template-columns: 625px 401px;
  column-gap: 49px;
  row-gap: 0;
  justify-content: center;
  align-items: center;
}

.manage-block__img {
  width: 625px;
}

.manage-block__box_text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-top: 5px;
}

.manage-block__box_img {
  grid-row: span 2;
  margin-top: 30px;
}

.manage-block__box_btn {
  margin-bottom: 20px;
}

.manage-block__text {
  margin-top: 29px;
}

/*----------------------------------*/
/*products-block*/
.products-block {
  margin-top: 145px;
  width: 1280px;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.products-block__text {
  margin: 0 auto;
  margin-top: 15px;
  width: 600px;
}

.language-block {
  margin: 38px 0 0 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
  row-gap: 15px;
}

.language-block__item {
  background: #fff3e1;
  border-radius: 10px;
  padding: 6px 12px;
  /* margin: 6px 8px; */
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.language-block__item::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-right: 7px;
  background: #ff7449;
}

/*----------------------------------*/
/*question-block*/
.question-block {
  margin-top: 150px;
  padding: 65px 170px 80px 207px;
  display: grid;
  grid-template-columns: 375px 302px;
  gap: 144px;
  justify-content: center;
  align-items: end;
  background: #3d50f9;
  border-radius: 30px;
  color: #ffffff;
}

.question-block__title::before {
  content: "";
  display: block;
  background: url("../img/hands.svg") -5px 0 / 61px 60px no-repeat;
  width: 61px;
  height: 60px;
  margin-bottom: 22px;
}

/*----------------------------------*/
/*companies-benefit-block*/
.companies-benefit-block {
  margin-top: 150px;
  width: 100%;
}

.companies-benefit-block__title {
  margin: 0 auto;
  width: 650px;
  text-align: center;
}

.slider-block__box {
  margin: 0 auto;
  margin-top: 59px;
  padding: 92px 95px 66px 96px;
  width: 1000px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 369px 350px;
  column-gap: 90px;
  row-gap: 24px;
  justify-content: center;
  border-radius: 30px;
  background: #fff3e1;
  color: #000000;
}

.slider-block__title {
  grid-row: span 2;
  align-items: end;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  text-align: left;
  z-index: 1;
  /* margin: 10px 0 0 0; */
}

.slider-block__title::before {
  content: "";
  background: url("../img/two_rectangle.svg") 0 / 123px 89px no-repeat;
  display: inline-block;
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: -1;
  margin: -100px 0 0 -20px;
}

.slider-block__person-block {
  width: 100%;
  display: grid;
  grid-template-columns: 48px 1fr;
  column-gap: 17px;
  justify-content: center;
  align-content: center;
}

.person-block__title {
  font-family: "Euclid Circular B", "Arial", sans-serif;
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
}

.person-block__image {
  grid-row: span 2;
  width: 48px;
  height: 48px;
}

.person-block__text {
  margin: 0;
  font-weight: 400px;
  font-size: 14px;
  line-height: 24px;
}

/*----------------------------------*/
/*yourself-block*/
.yourself-block {
  margin-top: 150px;
  width: 100%;
  padding: 97px 0 110px 0;
  display: grid;
  grid-template-columns: 345px 539px;
  column-gap: 113px;
  justify-content: center;
  align-content: start;
  box-sizing: border-box;
}

.box-text {
  z-index: 1;
  margin: 75px 0 0 0;
}

.box-text::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 300px;
  height: 300px;
  z-index: -1;
  margin: -100px 0 0 -45px;
  background: url("../img/octagon_blue.svg") 0 /230px 230px no-repeat;
}

.yourself-block__text {
  margin-top: 37px;
  font-weight: 400;
  line-height: 120%;
  width: 290px;
}

.box-input {
  border-radius: 30px;
  padding: 44px 56px 62px 56px;
}

.box-input__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 0 20px 0;
}

.box-input__input-field {
  display: block;
  height: 44px;
  width: 100%;
  border: 1px solid #abb0ba;
  border-radius: 4px;
  margin-bottom: 14px;
  box-sizing: border-box;
  padding: 0 18px;
}

.box-input__text-area {
  display: block;
  width: 100%;
  height: 104px;
  border: 1px solid #abb0ba;
  border-radius: 5px;
  resize: none;
  box-sizing: border-box;
  padding: 10px 18px;
}

.box-input__input-field::placeholder,
.box-input__text-area::placeholder {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #a9a9a9;
}

.input-field_error {
  outline: 2px solid #ff0000;
}

.box-input__text {
  margin-top: 34px;
}

.box-input__button {
  margin-top: 20px;
  width: 100%;
  border-radius: 10px;
  border: 0;
  padding: 18px 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

/*----------------------------------*/
/*footer__box*/
.footer__box-wrapper {
  display: grid;
  grid-template-columns: 375px 463px;
  column-gap: 163px;
  justify-content: center;
  align-content: start;
  padding: 100px 0 83px 20px;
  /* margin: 20px; */
}

.logo-block_footer {
  width: 104px;
  height: 24px;
  /* margin: 25px 33px 22px 0; */
  background-size: 104px 24px;
}

.rights-block__text {
  margin-top: 15px;
}

.subscribe__title {
  font-weight: 600;
  font-size: 17px;
  line-height: 31px;
}

.subscribe__text {
  margin-top: 8px;
}

.subscribe__area-input {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 303px 144px;
  column-gap: 9px;
}

.subscribe__input-field {
  height: 38px;
  border: 1px solid #c3c4ca;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 0 12px;
}

.subscribe__input-field::placeholder {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #a9a9a9;
  padding: 5px 0 6px 0;
}

.subscribe__button {
  border-radius: 3px;
  height: 38px;
  border: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
}
