@font-face {
  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/EuclidCircularB-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/EuclidCircularB-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/EuclidCircularB-SemiBold.woff2") format("woff2");
}

:root {
  --background-primary: #ffffff;
  --background-secondary: #3d50f9;
  --background-special: #2c3442;

  --text-primary: #000000;
  --text-secondary: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*----------------------------------*/
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
}

/*----------------------------------*/
.page {
  height: 100%;
}

.page__body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  color: var(--text-primary);
  background-color: var(--background-primary);
}

.page__main {
  flex: 1 0 auto;
}

/*----------------------------------*/
.title-first-level {
  margin: 0;
  font-size: 50px;
  font-weight: 700;
  line-height: 49px;
}

.title-second-level {
  margin: 0;
  font-size: 42px;
  font-weight: 700;
  line-height: 46px;
}

.title-third-level {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
}

.title-fourth-level {
  margin: 0;
  font-weight: 600;
  font-size: 17px;
  line-height: 31px;
}

/*----------------------------------*/
.text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.text_big {
  margin: 0;
  font-size: 24px;
}

.text_medium {
  margin: 0;
  font-size: 22px;
  line-height: 22px;
}

.text_small {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

.text-link:hover {
  text-decoration: none;
}

.text-link_white {
  color: var(--text-secondary);
}

.text-link_black {
  color: var(--text-primary);
}

.text-link_white:hover,
.text-link_black:hover {
  text-decoration: none;
}

/*----------------------------------*/
.button {
  display: inline-block;
  border-radius: 100px;
  padding: 18px 37px 18px 37px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
}

.button {
  background-color: #ffc960;
  color: var(--text-primary);
}

.button:hover {
  cursor: pointer;
  background-color: rgba(255, 213, 134, 0.9);
}

.button:active {
  background-color: #ffc960;
}

.button--second {
  background-color: var(--background-secondary);
  color: var(--text-secondary);
}

.button--second:hover {
  background-color: rgba(91, 107, 255, 0.9);
}

.button--second:active {
  background-color: var(--background-secondary);
}

.button--second[disabled],
.button--second:hover[disabled],
.button--second:active[disabled] {
  cursor: default;
  background-color: var(--background-secondary);
  opacity: 0.5;
}

/*----------------------------------*/
.block_blue {
  background-color: var(--background-secondary);
  color: var(--text-secondary);
}

.block_beige {
  background-color: #fff3e1;
  color: var(--text-primary);
}

.block_white {
  background-color: var(--background-primary);
  color: var(--text-primary);
}

.text-input {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

/*----------------------------------*/
.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 1200px;
}

/*----------------------------------*/
.header {
  border-bottom: 1px solid #dde0e5;
}

.header__container {
  padding: 0 40px;
}

.header__inner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  width: 100%;
}

.header__logo {
  height: 25px;
}

.header__logo:hover {
  opacity: 0.8;
}

.header__logo:active {
  opacity: 0.6;
}

.header__logo-link {
  margin-right: 33px;
}

.header__nav {
  margin: 0 156px 0 0;
}

.header__menu-collapse {
  display: none;
}

/*----------------------------------*/
.nav {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  padding-left: 0;
}

.nav__item {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  margin: 0 27px 0 0;
  white-space: nowrap;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__item:hover {
  cursor: pointer;
}

.nav__item-list {
  margin-right: 32px;
}

.nav__item-list:hover {
  opacity: 0.6;
}

.nav__item-list:active {
  opacity: 0.3;
}

.nav__item-list::after {
  content: "";
  background-image: url("../images/icons/menu_list.svg");
  background-repeat: no-repeat;
  display: inline-block;
  height: 7px;
  position: relative;
  right: -6px;
  top: -1px;
  vertical-align: middle;
  width: 11px;
}

.nav__link {
  text-decoration: none;
  color: var(--text-primary);
}

.nav__link:hover {
  opacity: 0.6;
}

.nav__link:active {
  opacity: 0.3;
}

/*----------------------------------*/
.service-block {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.service-block__item {
  margin-right: 18px;
  text-decoration: none;
  color: var(--text-primary);
  vertical-align: middle;
}

.service-block__item:last-child {
  margin-right: 0;
}

.service-block__item:hover {
  cursor: pointer;
}

/*----------------------------------*/
.language-box {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  white-space: nowrap;
}

.language-box::after {
  content: "";
  background-image: url("../images/icons/menu_list.svg");
  background-repeat: no-repeat;
  display: inline-block;
  height: 7px;
  position: relative;
  right: -6px;
  top: -1px;
  vertical-align: middle;
  width: 11px;
}


.shopping-link {
  background-image: url("../images/icons/shopping.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 16px;
}

.search-link {
  background-image: url("../images/icons/search.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}

.auth-link {
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  white-space: nowrap;
}

/*----------------------------------*/
.main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.main__partner-program {
  margin-top: 83px;
}

.main__join-team {
  margin-top: 155px;
}

.main__benefits {
  margin-top: 173px;
}

.main__jump-start {
  margin-top: 150px;
}

.main__promote {
  margin-top: 150px;
}

.main__manage {
  margin-top: 150px;
}

.main__products-available {
  margin-top: 145px;
}

.main__questions {
  margin-top: 150px;
}

.main__companies-benefit {
  margin-top: 150px;
}

.main__yourself {
  margin-top: 150px;
}

/*----------------------------------*/
.partner-program {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner-program__inner {
  display: grid;
  grid-template-columns: 500px 493px;
  column-gap: 15px;
  align-items: center;
  padding: 66px 99px;
  color: var(--text-secondary);
  border-radius: 30px;
  background-color: var(--background-secondary);
}

.partner-program__box_left {
  align-self: start;
  margin-top: 50px;
}

.partner-program__title {
  margin: 10px 0 31px 0;
}

.partner-program__text {
  margin: 0;
  line-height: 28px;
  width: 447px;
}

.partner-program__button {
  margin-top: 55px;
}

.partner-program__img-container {
  display: block;
  height: auto;
  max-width: 100%;
}

/*----------------------------------*/
.join-team {
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-team__inner {
  padding-left: 40px;
  display: grid;
  grid-template-columns: 425px 503px;
  justify-content: center;
  column-gap: 110px;
}

.join-team__box_left {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: start;
}

.join-team__title {
  margin: 0;
  width: 381px;
}

.join-team__text {
  margin-top: 25px;
  width: 381px;
}

.join-team__company-list {
  margin-top: 45px;
  opacity: 0.3;
  width: 400px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  row-gap: 25px;
}

.join-team__box_right {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  margin: 0 auto;
}

.join-team__info {
  border-radius: 30px;
  color: var(--text-secondary);
}

.join-team__info_grey {
  background-color: var(--background-special);
  padding: 39px 50px 33px 47px;
  margin: 0 0 0 30px;
  width: 332px;
}

.join-team__info_yellow {
  background-color: #ff7449;
  width: 295px;
  padding: 27px 58px 27px 57px;
  margin: -23px 0 -26px 145px;
  z-index: 1;
}

.join-team__info_blue {
  padding: 50px 50px 40px 52px;
  width: 503px;
  background-color: var(--background-secondary);
}

/*----------------------------------*/
.info__title {
  font-weight: 600;
  font-size: 42px;
  line-height: 46px;
  margin: 0 0 3px 0;
}

.info__text {
  padding: 0;
  margin: 0;
}

/*----------------------------------*/
.benefits {
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits__header {
  text-align: center;
}

.benefits__main {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 320px);
  gap: 21px;
  justify-content: center;
}

.benefits__box {
  background-color: #fff3e1;
  border-radius: 30px;
  padding: 39px 44px 50px 40px;
}

.benefits__title::before {
  content: "";
  display: block;
}

.benefits__title_first::before {
  background-image: url("../images/icons/benefits_1.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 59px;
  height: 56px;
  margin: 0 0 48px 0;
}

.benefits__title_second::before {
  background-image: url("../images/icons/benefits_2.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 56px;
  height: 67px;
  margin: -6px 0 43px 0;
}

.benefits__title_third::before {
  background-image: url("../images/icons/benefits_3.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  width: 58px;
  height: 66px;
  margin: -5px 0 44px -5px;
}

.benefits__text {
  margin-top: 18px;
}

.benefits__area-button {
  margin-top: 72px;
  text-align: center;
}

/*----------------------------------*/
.jump-start__inner {
  display: grid;
  grid-template-columns: 395px 435px;
  column-gap: 121px;
  justify-content: center;
  align-content: center;
  padding: 102px 150px 117px 99px;
  color: var(--text-secondary);
  background-color: var(--background-special);
  border-radius: 50px;
}

.jump-start__box-left {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: end;
}

.jump-start__box-left_inner {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}

.jump-start__main-title {
  margin-top: -10px;
}

.jump-start__main-text {
  margin-top: 28px;
}

.jump-start__button {
  margin: 54px 0 13px 0;
}

.jump-start__box-right {
  display: grid;
  grid-template-columns: 55px 355px;
  grid-row: span 2;
  column-gap: 25px;
  row-gap: 36px;
  justify-content: center;
  align-content: start;
}

.jump-start-box__dot-list {
  margin-top: 19px;
  display: grid;
  grid-template-columns: 4px;

  row-gap: 25px;
  justify-content: center;
  align-content: center;
}

.dot-list__item {
  width: 4px;
  height: 4px;
  background-color: var(--background-secondary);
  border-radius: 50%;
  justify-items: center;
  align-items: center;
}

.jump-start-box__number-box {
  font-family: "Euclid Circular B", "Arial", sans-serif;
  margin: 0;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jump-start-box__number-box::after {
  content: "";
  background-image: url("../images/icons/dot_blue.svg");
  background-size: 100%;
  background-position: 10px 0;
  background-repeat: no-repeat;
  display: inline-block;
  width: 4px;
  height: 4px;
}

/*----------------------------------*/
.number-box_white {
  background-image: url("../images/icons/octagon_white.svg");
  background-size: 55px 55px;
  background-position: 0;
  background-repeat: no-repeat;
  color: #2c3442;
}

.number-box_orange {
  background-image: url("../images/icons/octagon_orange.svg");
  background-size: 55px 55px;
  background-position: 0;
  background-repeat: no-repeat;
}

.number-box_blue {
  background-image: url("../images/icons/octagon_blue.svg");
  background-size: 55px 55px;
  background-position: 0;
  background-repeat: no-repeat;
}

.jump-start-box__content-box {
  margin-top: 12px;
}

.content-box__text {
  margin-top: 12px;
}

/*----------------------------------*/
.promote__inner {
  display: grid;
  grid-template-columns: repeat(2, 490px);
  gap: 20px;
  justify-content: center;
}

.promote__box {
  border-radius: 30px;
  padding: 35px 70px 35px 62px;
}

.promote__box_main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 73px 95px 80px 65px;
}

.promote__main-title {
  width: 330px;
}

.promote__title::before {
  content: "";
  display: block;
}

.promote__title_first::before {
  background-image: url("../images/icons/promote_1.svg");
  background-size: 100%;
  background-position: 0;
  background-repeat: no-repeat;
  width: 38px;
  height: 36px;
  margin: -6px 0 10px 4px;
}

.promote__title_second::before {
  background-image: url("../images/icons/promote_2.svg");
  background-size: 100%;
  background-position: 0;
  background-repeat: no-repeat;
  width: 34px;
  height: 40px;
  margin: -2px 0 18px 2px;
}

.promote__title_third::before {
  background-image: url("../images/icons/promote_3.svg");
  background-size: 100%;
  background-position: 0;
  background-repeat: no-repeat;
  width: 37px;
  height: 35px;
  margin-bottom: 20px;
}

.promote__text {
  margin-top: 11px;
}

/*----------------------------------*/
.manage__inner {
  display: grid;
  grid-template-columns: 625px 401px;
  column-gap: 49px;
  row-gap: 0;
  justify-content: center;
  align-items: center;
}

.manage__img {
  width: 625px;
}

.manage__box_text {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-self: start;
}

.manage__box_img {
  grid-row: span 2;
}

.manage__box_btn {
  align-self: start;
}

.manage__text {
  margin-top: 29px;
}

/*----------------------------------*/
.products-available__inner {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.products-available__text {
  margin: 15px auto 0;
  width: 600px;
}

/*----------------------------------*/
.language-block {
  margin: 38px 0 0 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
  row-gap: 15px;
}

.language-block__item {
  background-color: #fff3e1;
  border-radius: 10px;
  padding: 6px 12px;
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.language-block__item::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-right: 7px;
  background-color: #ff7449;
}

/*----------------------------------*/
.questions__inner {
  padding: 65px 170px 80px 207px;
  display: grid;
  grid-template-columns: 375px 302px;
  gap: 144px;
  justify-content: center;
  align-items: end;
  background-color: var(--background-secondary);
  border-radius: 30px;
  color: var(--text-secondary);
}

.questions__title::before {
  content: "";
  display: block;
  background-image: url("../images/icons/hands.svg");
  background-size: 100%;
  background-position: -5px 0;
  background-repeat: no-repeat;
  width: 61px;
  height: 60px;
  margin-bottom: 22px;
}

/*----------------------------------*/
.companies-benefit {
  width: 100%;
}

.companies-benefit__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.companies-benefit__title {
  width: 650px;
  text-align: center;
}

.companies-benefit__slider {
  margin-top: 59px;
}

/*----------------------------------*/
.slider__inner {
  position: relative;
}

.slider__list {
  position: relative;
}

.slider__arrows {
  height: 50px;
  width: 1050px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -525px;
  z-index: 10;
}

.slider__box {
  margin: 0 auto;
  padding: 92px 95px 66px 96px;
  width: 1000px;
  display: grid;
  grid-template-columns: 369px 350px;
  column-gap: 90px;
  row-gap: 24px;
  justify-content: center;
  border-radius: 30px;
  background-color: #fff3e1;
  color: var(--text-primary);
}

.slider__title {
  grid-row: span 2;
  align-items: end;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  text-align: left;
  z-index: 1;
}

.slider__title::before {
  content: "";
  background-image: url("../images/icons/two_rectangle.svg");
  background-size: 123px 89px;
  background-position: 0;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  width: 200px;
  height: 200px;
  z-index: -1;
  margin: -100px 0 0 -20px;
}

.slider__person {
  width: 100%;
  display: grid;
  grid-template-columns: 48px 1fr;
  column-gap: 17px;
  justify-content: center;
  align-content: center;
}

.slider__person-name {
  font-family: "Euclid Circular B", "Arial", sans-serif;
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
}

.slider__person-image {
  grid-row: span 2;
  width: 48px;
  height: 48px;
}

.slider__person-job {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

/*----------------------------------*/
.yourself__container {
  width: 100%;
  padding: 97px 0 110px 0;
  display: grid;
  grid-template-columns: 345px 539px;
  column-gap: 113px;
  justify-content: center;
  align-content: start;
  color: var(--text-secondary);
  background-color: var(--background-special);
}

.yourself__text {
  margin-top: 37px;
  font-weight: 400;
  line-height: 120%;
  width: 290px;
}

/*----------------------------------*/
.box-text {
  z-index: 1;
  margin: 75px 0 0 0;
}

.box-text::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 300px;
  height: 300px;
  z-index: -1;
  margin: -100px 0 0 -45px;
  background-image: url("../images/icons/octagon_blue.svg");
  background-position: 0;
  background-size: 230px 230px;
  background-repeat: no-repeat;
}

/*----------------------------------*/
.box-input {
  border-radius: 30px;
  padding: 44px 56px 62px 56px;
  align-self: end;
}

.box-input__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 0 20px 0;
}

.box-input__text {
  margin-top: 34px;
}

/*----------------------------------*/
.form-partner__field-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 14px;
  align-items: center;
  gap: 2px 0;
}

.form-partner__input {
  display: block;
  width: 100%;
  height: 44px;
  border: 1px solid #abb0ba;
  border-radius: 4px;
  margin-top: 5px;
  padding: 0 18px;
}

.form-partner__input:focus {
  border: 1px solid #5b6bff;
  outline: none;
}

.form-partner__input::placeholder {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #a9a9a9;
}

.form-partner__input--textarea {
  height: 104px;
  border-radius: 5px;
  resize: none;
  padding: 10px 18px;
}

.form-partner__input--error {
  border: 1px solid #ff0000;
  background-color: rgba(255, 0, 0, 0.1);
}

.form-partner__input--error::placeholder {
  color: rgba(255, 0, 0, 0.8);
}

.form-partner__error {
  font-size: 12px;
  color: #ff0000;
}

.form-partner__error--active {
  display: block;
}


.button-inactive {
  cursor: default;
  background-color: rgba(211, 211, 211, 0.6);
}

.form-partner__button {
  margin-top: 20px;
  width: 100%;
  border-radius: 10px;
  border: 0;
  padding: 18px 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.form-partner__empty-error {
  padding: 10px 0;
  font-size: 18px;
  color: #ff8630;
}

/*----------------------------------*/
.footer__container {
  display: grid;
  grid-template-columns: 375px 463px;
  column-gap: 163px;
  justify-content: center;
  align-content: start;
  padding: 100px 0 83px 20px;
}

.footer__logo-link {
  width: 104px;
  height: 24px;
  background-size: 104px 24px;
}

.footer__copyright-text {
  margin-top: 15px;
}

.footer__subscribe-text {
  margin-top: 8px;
}

/*----------------------------------*/
.form-subscribe {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 303px 144px;
  column-gap: 9px;
}

.form-subscribe__input {
  height: 38px;
  border: 1px solid #c3c4ca;
  border-radius: 3px;
  padding: 0 12px;
}

.form-subscribe__input::placeholder {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #a9a9a9;
  padding: 5px 0 6px 0;
}

.form-subscribe__button {
  border-radius: 3px;
  height: 38px;
  border: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
}

/*----------------------------------*/
.table {
  margin: 0 auto;
  border-spacing: 0;
  border-collapse: collapse;
}

.table__head-cell {
  padding: 8px 15px;
  color: var(--text-secondary);
  background-color: var(--background-secondary);
  border: 1px solid #83b1e8;
}

.table__body-row {
  background-color: #eef2f9;
}

.table__body-row:nth-child(2n+1) {
  background-color: #e0e4eb;
}

.table__body-cell {
  padding: 8px 15px;
  color: var(--text-primary);
  border: 1px solid #3066a5;
}

@media (max-width: 1279px) {
  .title-first-level {
    font-size: 44px;
    line-height: 45px;
  }

  .title-second-level {
    font-size: 38px;
    line-height: 42px;
  }

  .title-third-level {
    font-size: 20px;
    line-height: 24px;
  }

  .text {
    font-size: 15px;
    line-height: 22px;
  }

  .text_small {
    font-size: 14px;
    line-height: 22px;
  }

  .button {
    font-size: 15px;
  }

  .container {
    padding: 0 30px;
    width: 100%;
  }

  /*----------------------------------*/
  .header__container {
    padding: 0 30px;
  }

  .header__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
  }

  .header__logo {
    height: 22px;
  }

  .header__logo-link {
    width: 100px;
    height: 20px;
    margin: 0 12px 0 0;
  }

  .header__nav {
    margin-right: 30px;
  }

  .nav__item:not(:last-child) {
    margin-right: 14px;
  }

  .nav__item {
    font-size: 14px;
  }

  .auth-link {
    font-size: 14px;
  }

  .main__manage {
    margin-left: 0;
  }

  /*----------------------------------*/
  .partner-program__container {
    padding: 0;
  }

  .partner-program__inner {
    border-radius: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 50px 60px;
  }

  .partner-program__text {
    width: 100%;
  }

  .partner-program__img {
    display: block;
    height: auto;
    max-width: 100%;
  }

  /*----------------------------------*/
  .join-team__inner {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    padding: 0 20px;
  }

  .join-team__title {
    text-align: center;
  }

  .info__title {
    font-size: 38px;
    line-height: 42px;
  }

  .join-team__company-list {
    justify-content: space-between;
    width: 400px;
    margin: 34px auto 0;
  }

  .join-team__info_yellow {
    z-index: 1;
    width: 295px;
    margin: -23px 0 -26px 145px;
    background-color: #ff7449;
  }

  /*----------------------------------*/
  .benefits__main {
    grid-template-columns: repeat(3, minmax(220px, 320px));
    margin-left: 20px;
    margin-right: 20px;
  }

  /*----------------------------------*/
  .questions__inner {
    grid-template-columns: 375px;
    gap: 20px;
    width: 600px;
  }

  /*----------------------------------*/
  .companies-benefit {
    margin-top: 80px;
  }

  /*----------------------------------*/
  .slider__arrows {
    width: 760px;
    margin: -25px 0 0 -380px;
  }

  .slider__box {
    width: 600px;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    padding: 70px 60px 50px;
  }

  /*----------------------------------*/
  .jump-start__container {
    padding: 0;
  }

  .jump-start__inner {
    width: 100%;
    border-radius: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    padding: 70px 70px;
  }

  .jump-start__main-title {
    align-self: center;
    text-align: center;
    width: 600px;
  }

  .jump-start__main-text {
    align-self: center;
    text-align: center;
    width: 500px;
  }

  .jump-start__button {
    margin-top: 30px;
  }

  /*----------------------------------*/
  .promote__inner {
    grid-template-columns: repeat(2, 350px);
  }

  /*----------------------------------*/
  .manage__inner {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }

  .manage__box {
    max-width: 625px;
    align-items: center;
  }

  .manage__box_img {
    order: 2;
    margin: 0 auto;
  }

  .manage__box_text {
    order: 1;
    margin: 0 auto;
  }

  .manage__box_btn {
    order: 3;
    margin: 30px auto 0;
  }

  /*----------------------------------*/
  .language-block__item {
    font-size: 15px;
  }

  /*----------------------------------*/
  .yourself__container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 65px 50px 80px 50px;
  }

  .yourself__box {
    width: 540px;
  }

  .box-input {
    align-self: center;
  }

  /*----------------------------------*/
  .footer__container {
    grid-template-columns: 463px;
    gap: 20px;
    padding: 60px 0;
  }

  .form-subscribe__button {
    max-width: 144px;
  }
}

@media (max-width: 767px) {

  .title-first-level {
    font-size: 38px;
    line-height: 40px;
  }

  .title-second-level {
    font-size: 27px;
    line-height: 30px;
  }

  .title-third-level {
    font-size: 18px;
    line-height: 22px;
  }


  .text_medium {
    font-size: 18px;
    line-height: 18px;
  }

  .text_big {
    font-size: 20px;
  }

  .text {
    font-size: 14px;
    line-height: 20px;
  }

  .text_small {
    font-size: 12px;
    line-height: 18px;
  }

  .button {
    font-size: 14px;
  }

  /*----------------------------------*/
  .container {
    padding: 0 20px;
  }

  /*----------------------------------*/
  .header__container {
    padding: 0 20px;
  }

  .header__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }

  .header__menu-collapse {
    width: 21px;
    height: 17px;
    justify-self: start;
  }

  .header__logo {
    height: 28px;
  }

  .header__logo-link {
    width: 120px;
    height: 30px;
    margin: 0;
  }

  .header__service-block {
    justify-self: end;
  }

  .language-box {
    margin-right: 12px;
  }

  .shopping-link {
    margin-right: 12px;
  }

  .auth-link {
    font-size: 14px;

  }

  .search-link,
  .header__nav {
    display: none;
  }

  /*----------------------------------*/
  .partner-program__container {
    padding: 0;
  }

  .partner-program__inner {
    margin-top: 0;
    display: block;
    border-radius: 0;
    padding: 30px 20px;
  }

  .partner-program__box {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

  }

  .partner-program__title,
  .partner-program__text {
    text-align: center;
    width: 100%;
  }

  .partner-program__button {
    align-self: center;
  }

  .partner-program__box_right {
    display: none;
  }

  /*----------------------------------*/
  .join-team__inner {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    padding: 0 10px;

  }

  .join-team__title {
    width: 100%;
    text-align: center;
    padding: 0 20px;
  }

  .info__title {
    font-size: 34px;
    line-height: 38px;
  }

  .join-team__text {
    width: 100%;
    text-align: center;
  }

  .join-team__company-list {
    justify-content: center;
    width: 100%;
  }

  .join-team__box {
    width: 100%;
    max-width: 404px;
  }

  .join-team__info {
    margin: 0;
    padding: 20px 30px;
    width: 100%;
    border-radius: 0;
  }

  .join-team__info:first-child {
    border-radius: 10px 10px 0 0;
  }

  .join-team__info:last-child {
    border-radius: 0 0 10px 10px;
  }

  /*----------------------------------*/
  .benefits {
    padding: 0 20px;
  }

  .benefits__title::before {
    margin-bottom: 15px;
  }


  .benefits__main {
    margin-top: 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }

  .benefits__box {
    max-width: 320px;
    padding: 20px 20px 25px 25px;
  }

  .benefits__area-button {
    margin-top: 30px;
  }

  /*----------------------------------*/
  .jump-start__container {
    padding: 0;
  }

  .jump-start__inner {
    border-radius: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    padding: 40px 40px;
  }

  .jump-start__button {
    margin-top: 0;
  }

  .jump-start__box-right {
    grid-template-columns: 55px 1fr;
  }

  .jump-start__main-title {
    width: 100%;
  }

  .jump-start__main-text {
    width: 100%;
  }

  /*----------------------------------*/
  .promote__inner {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    padding: 0 20px;
  }

  .promote__box {
    max-width: 490px;
    padding: 20px 20px 25px 25px;
  }

  .promote__main-title {
    width: 100%;
  }

  /*----------------------------------*/
  .manage__inner {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    padding: 0 20px;
  }

  .manage__title {
    text-align: center;
  }

  .manage__box {
    max-width: 625px;
    align-items: center;
  }

  .manage__box_img {
    order: 2;
    margin: 0 auto;
  }

  .manage__box_text {
    order: 1;
    margin: 0 auto;
  }

  .manage__box_btn {
    order: 3;
    margin: 10px 0 0;
    align-self: center;
  }

  .manage__img {
    display: block;
    height: auto;
    max-width: 100%;
  }

  /*----------------------------------*/
  .products-available {
    padding: 0 20px;
  }

  .products-available__text {
    width: 100%;
  }

  .language-block__item {
    font-size: 12px;
  }

  /*----------------------------------*/
  .questions__inner {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    padding: 30px 40px 50px;
    width: 100%;
    border-radius: 0;
  }

  /*----------------------------------*/
  .companies-benefit__title {
    width: 100%;
    padding: 0 20px;
  }

  /*----------------------------------*/
  .slider__arrows {
    width: 96%;
    left: 4%;
    margin: -25px 0 0 -2vw;
  }

  .slider__box {
    width: 300px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    padding: 60px 40px 20px;
  }

  /*----------------------------------*/
  .yourself__container {
    margin-top: 60px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px 20px 30px;
  }

  .yourself__main-title {
    text-align: center;
  }

  .yourself__box {
    width: 100%;
    margin-top: 0;
  }

  .yourself__text {
    text-align: center;
    width: 100%;
  }

  .box-text::before {
    display: none;
  }

  .box-input {
    padding: 40px 20px 20px;
    align-self: center;
  }

  .form-partner__button {
    font-size: 14px;
  }

  .form-partner__input {
    font-size: 14px;
    line-height: 20px;
  }

  .form-partner__input::placeholder {
    font-size: 14px;
    line-height: 20px;
  }

  /*----------------------------------*/
  .footer__container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    padding: 40px;
  }

  .form-subscribe {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: stretch;
    row-gap: 20px;
  }

  .footer__copyright {
    align-self: flex-start;
  }

  /*----------------------------------*/
  .header__nav {
    display: block;
    position: absolute;
    top: 55px;
    background-color: rgb(245, 246, 246);
    width: 100%;
    box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.37);
    transition: all 0.4s ease;
    left: -100%;
  }

  .header__menu {
    display: block;
  }

  .header__nav.open-menu {
    left: 0;
  }

  .header__menu li {
    margin: 40px 0 40px 33px;
    font-size: 14px;
  }

  .header__menu-collapse {
    position: relative;
    width: 35px;
    height: 35px;
    display: block;
  }

  .header__menu-collapse:hover {
    cursor: pointer;
  }

  .header__menu-collapse span,
  .header__menu-collapse::after,
  .header__menu-collapse::before {
    height: 3px;
    width: 100%;
    position: absolute;
    background-color: #515758;
    margin: 0 auto;
  }

  .header__menu-collapse span {
    top: 16px;
  }

  .header__menu-collapse:after,
  .header__menu-collapse:before {
    content: '';
  }

  .header__menu-collapse:after {
    bottom: 5px;
  }

  .header__menu-collapse:before {
    top: 5px;
  }

  .header__menu-collapse.open-menu span {
    opacity: 0;
    transition: 0.5s;
  }

  .header__menu-collapse.open-menu:before {
    transform: rotate(38deg);
    top: 16px;
    transition: 0.4s;
  }

  .header__menu-collapse.open-menu:after {
    transform: rotate(-38deg);
    bottom: 16px;
    transition: 0.4s;
  }

  .content-wrapper {
    margin-top: 48px;
  }

  .fixed-page {
    overflow: hidden;
  }

  .nav__item {
    padding: 15px 0;
    margin: 0 15px;
    font-size: 14px;
    border-bottom: 1px solid #dde0e5;
  }
}
