@font-face {
  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/EuclidCircularB-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/EuclidCircularB-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Euclid Circular B";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/EuclidCircularB-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2");
}

:root {
  --background-primary: #ffffff;
  --background-secondary: #3d50f9;
  --background-special: #2c3442;
  --background-acent: #ff7449;
  --background-other: #fff3e1;
  --text-primary: #000000;
  --text-secondary: #ffffff;
  --text-special: #2c3442;
  --button-primary: #ffc960;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.page {
  height: 100%;
}

.page--scroll-lock {
  overflow-y: hidden;
  scrollbar-gutter: stable;
}

.page__body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  color: var(--text-primary);
  background-color: var(--background-primary);
}

.page__main {
  flex: 1 0 auto;
}

.title-h1 {
  margin: 0;
  font-size: 50px;
  font-weight: 700;
  line-height: 49px;
}

.title-h2 {
  margin: 0;
  font-size: 42px;
  font-weight: 700;
  line-height: 46px;
}

.title-h3 {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  line-height: 26px;
}

.title-h4 {
  margin: 0;
  font-weight: 600;
  font-size: 17px;
  line-height: 31px;
}

.text {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}

.text-link {
  color: currentColor;
}

.text-link:hover {
  text-decoration: none;
}

.text-big {
  margin: 0;
  font-size: 24px;
}

.text-medium {
  margin: 0;
  font-size: 22px;
  line-height: 22px;
}

.text-small {
  margin: 0;
  font-size: 14px;
  line-height: 26px;
}

.button {
  display: inline-block;
  padding: 18px 37px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  text-align: center;
  color: var(--text-primary);
  border-radius: 100px;
  background-color: var(--button-primary);
}

.button:hover {
  cursor: pointer;
  background-color: rgba(255, 213, 134, 0.9);
}

.button:active {
  background-color: var(--button-primary);
}

.button--second {
  background-color: var(--background-secondary);
  color: var(--text-secondary);
}

.button--second:hover {
  background-color: rgba(91, 107, 255, 0.9);
}

.button--second:active {
  background-color: var(--background-secondary);
}

.text-input {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 1200px;
}

.header {
  border-bottom: 1px solid #dde0e5;
}

.header__container {
  padding: 0 40px;
}

.header__inner {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 16px;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  width: 100%;
}

.header__logo:hover {
  opacity: 0.6;
}

.header__logo:active {
  opacity: 0.3;
}

.header__logo-link {
  display: block;
}

.header__logo-image {
  display: block;
}

.header__toggle-nav {
  display: none;
}

.nav {
  display: flex;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  font-size: 15px;
  line-height: 22px;
}

.nav__item:hover {
  cursor: pointer;
}

.nav__item-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.nav__item-list:hover {
  opacity: 0.6;
}

.nav__item-list:active {
  opacity: 0.3;
}

.nav__item-list::after {
  content: "";
  display: block;
  width: 11px;
  height: 7px;
  background-image: url("../images/icons/nav-list.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.nav__link {
  text-decoration: none;
  color: var(--text-primary);
}

.nav__link:hover {
  opacity: 0.6;
}

.nav__link:active {
  opacity: 0.3;
}

.service {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px
}

.service__item {
  text-decoration: none;
  color: var(--text-primary);
  cursor: pointer;
}

.service__item:hover {
  opacity: 0.6;
}

.service__item:active {
  opacity: 0.3;
}

.service__item--language {
  font-size: 14px;
  line-height: 22px;
  white-space: nowrap;
}

.service__item--language::after {
  content: "";
  background-image: url("../images/icons/nav-list.svg");
  background-repeat: no-repeat;
  display: inline-block;
  height: 7px;
  position: relative;
  right: -6px;
  top: -1px;
  width: 11px;
}

.service__item--shopping::before {
  content: "";
  display: block;
  width: 20px;
  height: 16px;
  background-image: url("../images/icons/shopping.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.service__item--search::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background-image: url("../images/icons/search.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.service__item--auth {
  font-size: 15px;
  line-height: 22px;
  white-space: nowrap;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__partner-program {
  margin-top: 83px;
}

.main__join-team {
  margin-top: 155px;
}

.main__benefits {
  margin-top: 173px;
}

.main__jump-start {
  margin-top: 150px;
}

.main__promote {
  margin-top: 150px;
}

.main__manage {
  margin-top: 150px;
}

.main__products-available {
  margin-top: 145px;
}

.main__questions {
  margin-top: 150px;
}

.main__companies-benefit {
  margin-top: 150px;
}

.main__yourself {
  margin-top: 150px;
}

.partner-program {
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner-program__inner {
  display: grid;
  grid-template-columns: 500px 493px;
  column-gap: 20px;
  align-items: center;
  padding: 66px 99px;
  color: var(--text-secondary);
  border-radius: 30px;
  background-color: var(--background-secondary);
}

.partner-program__title {
  margin: 10px 0 31px 0;
}

.partner-program__text {
  margin: 0;
  line-height: 28px;
  width: 447px;
}

.partner-program__button {
  margin-top: 55px;
}

.partner-program__picture-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 456px;
  height: 456px;
}

.partner-program__picture {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.partner-program__picture::before {
  content: "";
  position: absolute;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--background-special);
  mask-image: url("../images/sprite.svg#octagon");
  background-image: url("../images/content/partners.png");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.partner-program__picture-inner {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
}

.partner-program__picture-inner::before,
.partner-program__picture-inner::after {
  content: "";
  position: absolute;
  display: block;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.partner-program__picture-inner::before {
  top: 70%;
  left: -10%;
  width: 90px;
  height: 90px;
  background-image: url("../images/icons/diagram.svg");
  transform: rotate(11deg);
}

.partner-program__picture-inner::after {
  top: 10%;
  left: 90%;
  width: 70px;
  height: 70px;
  background-image: url("../images/icons/handshake.svg");
  transform: rotate(-20deg);
}

.partner-program__image {
  display: block;
  height: auto;
  max-width: 100%;
}

.join-team {
  display: flex;
  justify-content: center;
  align-items: center;
}

.join-team__inner {
  padding-left: 40px;
  display: grid;
  grid-template-columns: 425px 503px;
  justify-content: center;
  column-gap: 110px;
}

.join-team__content {
  display: flex;
  flex-direction: column;
}

.join-team__content:first-child {
  justify-content: start;
}

.join-team__content:last-child {
  justify-content: center;
}

.join-team__title {
  margin: 0;
}

.join-team__text {
  margin-top: 25px;
}

.join-team__company-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 25px 20px;
  margin-top: 45px;
  opacity: 0.3;
}

.join-team__info {
  border-radius: 30px;
  color: var(--text-secondary);
}

.join-team__info--clients {
  background-color: var(--background-special);
  padding: 39px 50px 33px 47px;
  margin: 0 0 0 30px;
  width: 332px;
}

.join-team__info--years {
  background-color: var(--background-acent);
  width: 295px;
  padding: 27px 58px 27px 57px;
  margin: -23px 0 -26px 145px;
  z-index: 1;
}

.join-team__info--customers {
  padding: 50px 50px 40px 52px;
  width: 503px;
  background-color: var(--background-secondary);
}

.join-team__info-title {
  font-weight: 600;
  font-size: 42px;
  line-height: 46px;
  margin: 0;
}

.join-team__info-text {
  padding: 0;
  margin: 3px 0 0;
}

.benefits {
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits__header {
  text-align: center;
}

.benefits__main {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 320px);
  gap: 21px;
  justify-content: center;
}

.benefits__content {
  background-color: var(--background-other);
  border-radius: 30px;
  padding: 39px 44px 50px 40px;
}

.benefits__title::before {
  content: "";
  display: block;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.benefits__title--recurring::before {
  background-image: url("../images/icons/benefits-recurring.svg");
  width: 59px;
  height: 56px;
  margin: 0 0 48px 0;
}

.benefits__title--customer::before {
  background-image: url("../images/icons/benefits-customer.svg");
  width: 56px;
  height: 67px;
  margin: -6px 0 43px 0;
}

.benefits__title--expanded::before {
  background-image: url("../images/icons/benefits-expanded.svg");
  width: 58px;
  height: 66px;
  margin: -5px 0 44px -5px;
}

.benefits__text {
  margin-top: 18px;
}

.benefits__area-buttons {
  margin-top: 72px;
  text-align: center;
}

.jump-start__inner {
  display: grid;
  grid-template-columns: 395px 435px;
  column-gap: 121px;
  justify-content: center;
  align-content: center;
  padding: 102px 150px 117px 99px;
  color: var(--text-secondary);
  background-color: var(--background-special);
  border-radius: 50px;
}

.jump-start__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: end;
}

.jump-start__main-title {
  margin-top: -10px;
}

.jump-start__main-text {
  margin-top: 28px;
}

.jump-start__list {
  display: flex;
  flex-direction: column;
  grid-row: span 2;
  gap: 36px;
  justify-content: center;
  align-content: start;
}

.jump-start__item {
  display: grid;
  grid-template-columns: 55px 355px;
  align-items: center;
  gap: 0 20px;
}

.jump-start__item-number {
  grid-row: 1;
  grid-column: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 55px;
  height: 55px;
  font-family: "Euclid Circular B", "Arial", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  mask-image: url("../images/sprite.svg#octagon");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.jump-start__item-number--first {
  background-color: var(--background-primary);
  color: var(--text-special);
}

.jump-start__item-number--second {
  background-color: var(--background-acent);
}

.jump-start__item-number--third {
  background-color: var(--background-secondary);
}

.jump-start__item-text {
  grid-row: 2;
  grid-column: 2;
}

.jump-start__item-dots {
  width: 100%;
  height: 100%;
  background-image: url("../images/icons/dot.svg");
  background-position: center 15px;
  background-size: 4px 30px;
  background-repeat: repeat-y;
}

.jump-start__button {
  margin: 54px 0 0;
}

.promote__list {
  display: grid;
  grid-template-columns: repeat(2, 490px);
  gap: 20px;
  justify-content: center;
}

.promote__main {
  display: flex;
  align-items: center;
  padding: 65px;
  color: var(--text-secondary);
  background-color: var(--background-secondary);
  border-radius: 30px;
}

.promote__main-title {
  width: 325px;
}

.promote__item {
  padding: 35px 62px 35px;
  background-color: var(--background-other);
  border-radius: 30px;
}

.promote__title::before {
  content: "";
  display: block;
}

.promote__title--demo::before {
  background-image: url("../images/icons/promote-free.svg");
  background-size: 100%;
  background-position: 0;
  background-repeat: no-repeat;
  width: 38px;
  height: 36px;
  margin: -6px 0 10px 4px;
}

.promote__title--aids::before {
  background-image: url("../images/icons/promote-marketing.svg");
  background-size: 100%;
  background-position: 0;
  background-repeat: no-repeat;
  width: 34px;
  height: 40px;
  margin: -2px 0 18px 2px;
}

.promote__title--activities::before {
  background-image: url("../images/icons/promote-activities.svg");
  background-size: 100%;
  background-position: 0;
  background-repeat: no-repeat;
  width: 37px;
  height: 35px;
  margin-bottom: 20px;
}

.promote__text {
  margin-top: 11px;
}

.manage__inner {
  display: grid;
  grid-template-columns: 625px 401px;
  gap: 0 49px;
  justify-content: center;
  align-items: center;
}

.manage__image {
  width: 625px;
}

.manage__content {
  align-self: start;
}

.manage__picture {
  grid-row: span 2;
}

.manage__area-buttons {
  align-self: start;
}

.manage__text {
  margin-top: 29px;
}

.products-available__inner {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products-available__text {
  margin: 15px auto 0;
  width: 600px;
}

.products-available__languages {
  margin: 38px 0 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px 12px;
}

.products-available__languages-item {
  background-color: var(--background-other);
  border-radius: 10px;
  padding: 6px 12px;
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.products-available__languages-item::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-right: 7px;
  background-color: var(--background-acent);
}

.questions__inner {
  padding: 65px 170px 80px 207px;
  display: grid;
  grid-template-columns: 375px 302px;
  gap: 144px;
  justify-content: center;
  align-items: end;
  background-color: var(--background-secondary);
  border-radius: 30px;
  color: var(--text-secondary);
}

.questions__title::before {
  content: "";
  display: block;
  background-image: url("../images/icons/hands.svg");
  background-size: 100%;
  background-position: -5px 0;
  background-repeat: no-repeat;
  width: 61px;
  height: 60px;
  margin-bottom: 22px;
}

.companies-benefit {
  width: 100%;
}

.companies-benefit__inner {
  overflow-x: hidden;
}

.companies-benefit__title {
  width: 650px;
  margin: 0 auto;
  text-align: center;
}

.companies-benefit__slider {
  margin-top: 59px;
}

.slider {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: calc(1050px * 3);
}

.slider__buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1050px;
}

.slider__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 0;
  cursor: pointer;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 5px 23px rgba(22, 25, 32, 0.15);
}

.slider__button:hover {
  cursor: pointer;
  box-shadow: 0 5px 23px rgba(22, 25, 32, 0.3);
}

.slider__button:active {
  box-shadow: 0 5px 23px rgba(22, 25, 32, 0.15);
  transition: transform 0.1s linear;
  transform: scale(0.85);
}

.slider__button::before {
  content: "";
  width: 22px;
  height: 22px;
  display: block;
  background-image: url("../images/icons/arrow.svg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.slider__button--next::before {
  transform: rotate(180deg);
}

.slider__card {
  padding: 0 25px;
}

.slider__content {
  display: grid;
  grid-template-columns: 369px 350px;
  gap: 24px 90px;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
  padding: 92px 95px 66px 96px;
  background-color: var(--background-other);
  color: var(--text-primary);
  border-radius: 30px;
}

.slider__title {
  position: relative;
  grid-row: span 2;
  align-items: end;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  text-align: left;
  z-index: 1;
}

.slider__title::before {
  content: "";
  position: absolute;
  top: -40px;
  left: -30px;
  z-index: -1;
  display: block;
  width: 123px;
  height: 89px;
  background-image: url("../images/icons/rectangles.svg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.slider__person {
  width: 100%;
  display: grid;
  grid-template-columns: 48px 1fr;
  column-gap: 17px;
  justify-content: center;
  align-content: center;
}

.slider__person-name {
  font-family: "Euclid Circular B", "Arial", sans-serif;
  margin: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
}

.slider__person-image {
  grid-row: span 2;
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.slider__person-job {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.slider__dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
  margin-top: 20px;
}

.slider__dot {
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 0;
  background-color: #edf2f7;
  cursor: pointer;
}

.slider__dot.tns-nav-active {
  background-color: var(--background-secondary);
}

.yourself__container {
  display: grid;
  grid-template-columns: 345px 539px;
  column-gap: 113px;
  justify-content: center;
  align-content: start;
  width: 100%;
  padding: 97px 0 110px 0;
  background-color: var(--background-special);
}

.yourself__header-text {
  margin-top: 37px;
  line-height: 120%;
  width: 290px;
}

.yourself__header {
  position: relative;
  z-index: 1;
  margin: 75px 0 0 0;
  color: var(--text-secondary);
}

.yourself__header::before {
  content: "";
  position: absolute;
  top: -40px;
  left: -50px;
  z-index: -1;
  display: block;
  width: 200px;
  height: 200px;
  background-color: var(--background-secondary);
  mask-image: url("../images/sprite.svg#octagon");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.yourself__main {
  padding: 44px 56px 62px;
  align-self: end;
  background-color: var(--background-primary);
  border-radius: 30px;
}

.yourself__main-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  margin: 0 0 20px 0;
}

.form-partner__field-container:not(:first-child) {
  margin-top: 10px;
}

.form-partner__input {
  display: block;
  width: 100%;
  height: 44px;
  border: 1px solid #abb0ba;
  border-radius: 4px;
  padding: 0 18px;
}

.form-partner__input:focus {
  border: 1px solid #5b6bff;
  outline: none;
}

.form-partner__input::placeholder {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #a9a9a9;
}

.form-partner__input--textarea {
  height: 104px;
  border-radius: 5px;
  resize: none;
  padding: 10px 18px;
}

.form-partner__input--error:not(:focus) {
  border: 1px solid #ff0000;
  background-color: rgba(255, 0, 0, 0.1);
}

.form-partner__input--error:not(:focus)::placeholder {
  color: rgba(255, 0, 0, 0.8);
}

.form-partner__text-error {
  display: none;
  margin-top: 8px;
  font-size: 12px;
  color: #ff0000;
}

.form-partner__input:focus + .form-partner__text-error--active {
  display: none;
}

.form-partner__text-error--active {
  display: block;
}

.form-partner__text {
  margin-top: 34px;
}

.form-partner__button {
  margin-top: 20px;
  width: 100%;
  border-radius: 10px;
  border: 0;
  padding: 18px 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.footer--second {
  color: var(--text-secondary);
  background-color: var(--background-special);
}

.footer--second .social__link {
  color: var(--text-secondary);
  border-color: var(--text-secondary);
}

.footer--second .footer__inner {
  grid-template-columns: 1fr auto;
  justify-content: center;
  padding: 50px 0;
}

.footer__inner {
  display: grid;
  grid-template-columns: 375px 463px;
  column-gap: 163px;
  justify-content: center;
  align-content: start;
  padding: 100px 0 83px;
}

.footer__logo-link {
  display: block;
  width: 104px;
  height: 24px;
  background-size: 104px 24px;
}

.footer__logo-link:hover {
  opacity: 0.6;
}

.footer__logo-link:active {
  opacity: 0.3;
}

.footer__logo-image {
  display: block;
}

.footer__copyright-text {
  margin-top: 15px;
}

.footer__subscribe {
  grid-column: 2;
  grid-row: 1 / 3;
}

.footer__subscribe-text {
  margin-top: 8px;
}

.social__list {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 0;
  list-style: none;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  color: var(--text-special);
  border: 2px solid var(--text-special);
  border-radius: 8px;
}

.social__link::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: currentColor;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.social__link:hover {
  opacity: 0.6;
}

.social__link:active {
  opacity: 0.3;
}

.social__link--vk::before {
  mask-image: url("../images/sprite.svg#vk");
}

.social__link--youtube::before {
  mask-image: url("../images/sprite.svg#youtube");
}

.social__link--telegram::before {
  mask-image: url("../images/sprite.svg#telegram");
}

.social__link--github::before {
  mask-image: url("../images/sprite.svg#github");
}

.social__link--developer::before {
  mask-image: url("../images/sprite.svg#nemtsevk");
}

.form-subscribe {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 303px 144px;
  column-gap: 9px;
}

.form-subscribe__input {
  height: 38px;
  border: 1px solid #c3c4ca;
  border-radius: 3px;
  padding: 0 12px;
}

.form-subscribe__input::placeholder {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #a9a9a9;
  padding: 5px 0 6px 0;
}

.form-subscribe__button {
  padding: 5px 10px;
  height: 38px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  border-radius: 3px;
  border: 0;
}

.table {
  margin: 0 auto;
  border-spacing: 0;
  border-collapse: collapse;
}

.table__head-cell {
  padding: 8px 15px;
  color: var(--text-secondary);
  background-color: var(--background-secondary);
  border: 1px solid #83b1e8;
}

.table__body-row {
  background-color: #eef2f9;
}

.table__body-row:nth-child(2n+1) {
  background-color: #e0e4eb;
}

.table__body-cell {
  padding: 8px 15px;
  color: var(--text-primary);
  border: 1px solid #3066a5;
}

.modal[open] {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  max-width: 500px;
  background-color: white;
  border-radius: 20px;
}

.modal__text {
  text-align: center;
}

.modal__button {
  margin: 20px 0 0;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
}

@media (max-width: 1279px) {
  .title-h1 {
    font-size: 44px;
    line-height: 45px;
  }

  .title-h2 {
    font-size: 38px;
    line-height: 42px;
  }

  .title-h3 {
    font-size: 20px;
    line-height: 24px;
  }

  .container {
    padding: 0 40px;
    width: 100%;
  }

  .header__container {
    padding: 0 30px;
  }

  .header__logo-image {
    width: 100px;
    height: auto;
  }

  .nav__item {
    font-size: 14px;
  }

  .main__partner-program {
    margin-top: 50px;
  }

  .main__join-team {
    margin-top: 100px;
  }

  .main__benefits {
    margin-top: 100px;
  }

  .main__jump-start {
    margin-top: 100px;
  }

  .main__promote {
    margin-top: 100px;
  }

  .main__manage {
    margin-top: 100px;
    margin-left: 0;
  }

  .main__products-available {
    margin-top: 100px;
  }

  .main__questions {
    margin-top: 100px;
  }

  .main__yourself {
    margin-top: 100px;
  }

  .partner-program__container {
    padding: 0;
  }

  .partner-program__inner {
    border-radius: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 50px 60px;
  }

  .partner-program__text {
    width: 100%;
  }

  .partner-program__picture-wrapper {
    width: 100%;
    height: 100%;
    max-width: 456px;
    max-height: 456px;
  }

  .join-team__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px 0;
    padding-left: 0;
  }

  .join-team__content:first-child {
    align-items: center;
  }

  .join-team__title {
    text-align: center;
  }

  .join-team__info-title {
    font-size: 38px;
    line-height: 42px;
  }

  .join-team__text {
    text-align: center;
  }

  .join-team__company-list {
    width: 400px;
    margin: 34px auto 0;
  }

  .benefits__main {
    grid-template-columns: repeat(3, minmax(220px, 320px));
    margin-top: 40px;
  }

  .benefits__area-buttons {
    margin-top: 50px;
  }

  .products-available__text {
    width: 100%;
  }

  .questions__inner {
    grid-template-columns: 375px;
    gap: 20px;
    width: 600px;
  }

  .companies-benefit {
    margin-top: 80px;
  }

  .companies-benefit__inner {
    overflow-x: auto;
  }

  .slider {
    width: 100%;
  }

  .slider__buttons {
    width: 100%;
    padding: 0 15px;
  }

  .slider__card {
    padding: 0 40px;
  }

  .slider__content {
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    padding: 70px 60px 50px;
  }

  .jump-start__container {
    padding: 0;
  }

  .jump-start__inner {
    width: 100%;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    padding: 70px 70px;
  }

  .jump-start__main-title {
    align-self: center;
    text-align: center;
  }

  .jump-start__main-text {
    align-self: center;
    text-align: center;
  }

  .jump-start__button {
    margin-top: 30px;
  }

  .jump-start__list {
    grid-template-columns: 55px auto;
  }

  .jump-start__item {
    grid-template-columns: 55px 1fr;
  }

  .promote__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .promote__main-title {
    width: 100%;
  }

  .manage__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }

  .manage__box {
    max-width: 625px;
    align-items: center;
  }

  .manage__picture {
    order: 2;
    margin: 0 auto;
  }

  .manage__content {
    order: 1;
    margin: 0 auto;
  }

  .manage__title {
    text-align: center;
  }

  .manage__text {
    text-align: center;
  }

  .manage__area-buttons {
    order: 3;
    margin: 30px auto 0;
  }

  .yourself__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 65px 50px 80px;
  }

  .yourself__main {
    align-self: center;
  }

  .footer--second .footer__inner {
    grid-template-columns: 1fr auto;
  }

  .footer__inner {
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    padding: 40px 0;
  }

  .footer__subscribe {
    grid-column: 1;
    grid-row: 2;
  }

  .social__list {
    justify-content: center;
  }

  .form-subscribe {
    margin-top: 16px;
    display: grid;
    justify-content: center;
    grid-template-columns: 400px 200px;
    column-gap: 9px;
  }
}

@media (max-width: 767px) {


  .title-h1 {
    font-size: 38px;
    line-height: 40px;
  }

  .title-h2 {
    font-size: 27px;
    line-height: 30px;
  }

  .title-h3 {
    font-size: 18px;
    line-height: 22px;
  }

  .text {
    font-size: 14px;
    line-height: 20px;
  }

  .text-big {
    font-size: 20px;
  }

  .text-small {
    font-size: 12px;
    line-height: 18px;
  }

  .button {
    font-size: 14px;
  }

  .container {
    padding: 0 20px;
  }

  .header__container {
    padding: 0 20px;
  }

  .header__inner {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }

  .header__logo-link {
    width: 120px;
    height: auto;
    margin: 0;
  }

  .header__service {
    justify-self: end;
  }

  .header__toggle-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 32px;
    height: 26px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
  }

  .header__toggle-nav:hover {
    opacity: 0.6;
  }

  .header__toggle-nav:active {
    opacity: 0.3;
  }

  .header__toggle-nav--active > .header__toggle-nav-inner {
    background-color: transparent;
  }

  .header__toggle-nav--active > .header__toggle-nav-inner::before {
    width: 38px;
    transform: rotate(45deg) translate(0, -2px);
  }

  .header__toggle-nav--active > .header__toggle-nav-inner::after {
    width: 38px;
    transform: rotate(-45deg) translate(0, 2px);
  }

  .header__toggle-nav-inner {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: var(--text-primary);
    transform-origin: left center;
    transition: background-color 0.5s ease;
  }

  .header__toggle-nav-inner::before,
  .header__toggle-nav-inner::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--text-primary);
    transform-origin: left center;
    transition: transform 0.5s ease;
  }

  .header__toggle-nav-inner::before {
    top: -12px;
  }

  .header__toggle-nav-inner::after {
    top: 12px;
  }

  .nav {
    position: relative;
    grid-row: 2;
    grid-column: span 3;
    margin: 0 -20px;
  }

  .nav--opened {
    top: 20px;
  }

  .nav--closed {
    display: none;
  }

  .nav__list {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 0;
    background-color: white;
  }

  .nav__item-list {
    padding: 10px 0;
  }

  .nav__item {
    margin: 0;
    border-top: 1px solid #dde0e5;
  }

  .nav__link {
    display: block;
    text-align: center;
    padding: 10px 0;
  }

  .nav--opened .nav__inner {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    border-bottom: 1px solid #dde0e5;
  }

  .header--nojs .header__inner {
    grid-template-columns: auto 1fr;
    padding-bottom: 0;
  }

  .header--nojs .header__toggle-nav {
    display: none;
  }

  .header--nojs .nav {
    display: block;
    margin-top: 20px;
    grid-row: 2;
    grid-column: span 2;
  }

  .header--nojs .nav__list {
    position: static;
    display: flex;
  }

  .main__partner-program {
    margin-top: 0;
  }

  .partner-program__container {
    padding: 0;
  }

  .partner-program__inner {
    margin-top: 0;
    display: block;
    border-radius: 0;
    padding: 30px 20px;
  }

  .partner-program__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: start;
  }

  .partner-program__title,
  .partner-program__text {
    text-align: center;
    width: 100%;
  }

  .partner-program__button {
    margin-top: 30px;
    align-self: center;
  }

  .partner-program__picture-wrapper {
    display: none;
  }

  .join-team__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }

  .join-team__title {
    width: 100%;
    text-align: center;
    padding: 0 20px;
  }

  .join-team__company-list {
    width: 100%;
    max-width: 400px;
    justify-content: center;
  }

  .join-team__info-title {
    font-size: 34px;
    line-height: 38px;
  }

  .join-team__info {
    width: 100%;
    margin: 0;
    padding: 20px 30px;
  }

  .join-team__info--clients {
    border-radius: 10px 10px 0 0;
  }

  .join-team__info--years {
    border-radius: 0;
  }

  .join-team__info--customers {
    border-radius: 0 0 10px 10px;
  }

  .benefits__title::before {
    margin-bottom: 15px;
  }

  .benefits__main {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }

  .benefits__content {
    padding: 20px 25px 25px;
  }

  .benefits__area-buttons {
    margin-top: 30px;
  }

  .jump-start__container {
    padding: 0;
  }

  .jump-start__inner {
    padding: 40px 30px;
  }

  .jump-start__button {
    margin-top: 0;
  }

  .jump-start__list {
    grid-template-columns: 55px 1fr;
  }

  .jump-start__main-title {
    width: 100%;
  }

  .jump-start__main-text {
    width: 100%;
  }

  .promote__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    row-gap: 20px;
  }

  .promote__main {
    padding: 25px;
  }

  .promote__main-title {
    text-align: center;
  }

  .promote__item {
    padding: 20px 25px 25px;
  }

  .manage__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
  }

  .manage__picture {
    order: 2;
    margin: 0 auto;
  }

  .manage__image {
    display: block;
    height: auto;
    max-width: 100%;
  }

  .manage__area-buttons {
    order: 3;
    margin: 10px 0 0;
    align-self: center;
  }

  .products-available__languages-item {
    font-size: 14px;
  }

  .questions__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    padding: 30px 30px 50px;
    width: 100%;
    border-radius: 0;
  }

  .questions__container {
    padding: 0;
  }

  .companies-benefit__title {
    width: 100%;
    padding: 0 20px;
  }

  .slider__buttons {
    padding: 0;
  }

  .slider__card {
    padding: 0 25px;
  }

  .slider__content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    column-gap: 20px;
    padding: 60px 40px 20px;
  }

  .yourself__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px 20px 30px;
  }

  .yourself__header-title {
    text-align: center;
  }

  .yourself__header-text {
    text-align: center;
    width: 100%;
  }

  .yourself__header::before {
    width: 150px;
    height: 150px;
  }

  .yourself__main {
    padding: 40px 20px 20px;
    align-self: center;
  }

  .form-partner__button {
    font-size: 14px;
  }

  .form-partner__input {
    font-size: 14px;
    line-height: 20px;
  }

  .form-partner__input::placeholder {
    font-size: 14px;
    line-height: 20px;
  }

  .form-subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    row-gap: 20px;
  }

  .footer--second .footer__inner {
    grid-template-columns: 1fr;
  }

  .footer__inner {
    gap: 30px;
  }

  .footer__copyright {
    align-self: flex-start;
  }
}
