@media screen and (max-width: 767px)  {

  .title_h1  {
    font-size: 38px;
    line-height: 40px;
  }

  .title_h2  {
    font-size: 27px;
    line-height: 30px;
  }

  .title_h3  {
    font-size: 18px;
    line-height: 22px;
  }


  .text_medium  {
    font-size: 18px;
    line-height: 18px;
  }

  .text_big  {
    font-size: 20px;
  }

  .text  {
    font-size: 14px;
    line-height: 20px;
  }

  .text_small  {
    font-size: 12px;
    line-height: 18px;
  }

  .button  {
    font-size: 14px;
  }

  /*----------------------------------*/
  .main__article  {
    width: 100%;
  }

  /*----------------------------------*/
  .header  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }

  .header__menu-collapse  {
    width: 21px;
    height: 17px;
    justify-self: start;
  }

  .header__logo-block  {
    height: 28px;
  }

  .logo-block_header  {
    width: 120px;
    height: 30px;
    margin: 0;
  }

  .header__service-block  {
    justify-self: end;
  }

  .language-box  {
    margin-right: 12px;
  }

  .shopping-link  {
    margin-right: 12px;
  }

  .auth-link  {
    font-size: 14px;

  }

  .search-link,
  .header__navigation  {
    display: none;
  }

  .main__article  {
    margin-top: 80px;
  }

  /*----------------------------------*/
  /*partner-block*/

  .partner-block  {
    margin-top: 0;
    display: block;
    border-radius: 0;
    padding: 30px 20px;
  }

  .partner-block__box  {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

  }

  .partner-block__title,
  .partner-block__text  {
    text-align: center;
    width: 100%;
  }

  .partner-block__button  {
    align-self: center;
  }

  .partner-block__box_right  {
    display: none;
  }

  /*----------------------------------*/
  /*join-team-block*/
  .join-team-block  {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    padding: 0 10px;

  }

  .join-team-block__title{
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 0 20px;
  }

  .info__title  {
    font-size: 34px;
    line-height: 38px;
  }

  .join-team-block__text  {
    width: 100%;
    text-align: center;
  }

  .join-team-block__company-list  {
    justify-content: center;
    width: 100%;
  }

  .join-team-block__box  {
    width: 100%;
    max-width: 404px;
  }

  .join-team-block__info  {
    margin: 0;
    padding: 20px 30px;
    width: 100%;
    border-radius: 0;
  }

  .join-team-block__info:first-child  {
    border-radius: 10px 10px 0 0;
  }

  .join-team-block__info:last-child  {
    border-radius: 0 0 10px 10px;
  }

  /*----------------------------------*/
  /*benefits-block*/
  .benefits-block  {
    padding: 0 20px;
  }

  .benefits-block__title::before  {
    margin-bottom: 15px;
  }

  .benefits-block__header  {
    margin-bottom: 30px;
  }

  .benefits-block__main  {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
  }

  .benefits-block__box  {
    max-width: 320px;
    padding: 20px 20px 25px 25px;
  }

  .benefits-block__area-button  {
    margin-top: 30px;
  }

  /*----------------------------------*/
  /*jump-start-block*/
  .jump-start-block  {
    border-radius: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    row-gap: 40px;
    padding: 40px 40px;
  }

  .jump-start-block__button  {
    margin-top: 0;
  }

  .jump-start-block__box-right  {
    grid-template-columns: 55px 1fr;
  }

  /*----------------------------------*/
  /*promote-block*/
  .promote-block  {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    padding: 0 20px;
  }

  .promote-block__box  {
    max-width: 490px;
    box-sizing: border-box;
    padding: 20px 20px 25px 25px;
  }

  .promote-block__main-title  {
    width: 100%;
  }

  /*----------------------------------*/
  /*manage-block*/
  .manage-block  {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    margin-left: 0;
    padding: 0 20px;
  }

  .manage-block__title  {
    text-align: center;
  }

  .manage-block__box  {
    max-width: 625px;
    align-items: center;
  }

  .manage-block__box_img  {
    order: 2;
    margin: 0 auto;
  }

  .manage-block__box_text  {
    order: 1;
    margin: 0 auto;
  }

  .manage-block__box_btn  {
    order: 3;
    margin: 10px 0 0;
  }

  .manage-block__img  {
    display: block;
    height: auto;
    max-width: 100%;
  }

  /*----------------------------------*/
  /*products-block*/
  .products-block  {
    padding: 0 20px;
  }

  .products-block__text  {
    width: 100%;
  }

  .language-block__item  {
    font-size: 12px;
  }

  /*----------------------------------*/
  /*question-block*/
  .question-block  {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    border-radius: 0;
    padding: 30px 40px 50px;
  }

  /*----------------------------------*/
  /*companies-benefit-block*/
  .companies-benefit-block__title  {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }

  .slider-block__box  {
    width: 95%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    padding: 60px 40px 20px;
  }

  /*----------------------------------*/
  /*yourself-block*/
  .yourself-block  {
    margin-top: 60px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px 20px 30px;
  }

  .yourself-block__main-title  {
    text-align: center;
  }

  .yourself-block__box  {
    margin-top: 0;
  }

  .yourself-block__text  {
    text-align: center;
    width: 100%;
  }

  .box-text::before  {
    display: none;
  }

  .box-input  {
    padding: 40px 20px 20px;
    align-self: center;
  }

  .box-input__button  {
    font-size: 14px;
  }

  .box-input__input-field,
  .box-input__text-area  {
    font-size: 14px;
    line-height: 20px;
  }

  .box-input__input-field::placeholder,
  .box-input__text-area::placeholder  {
    font-size: 14px;
    line-height: 20px;
  }

  /*----------------------------------*/
  /*footer__box*/
  .footer__box-wrapper  {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    padding: 40px;
  }

  .subscribe__area-input  {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: stretch;
    row-gap: 20px;
  }

  .rights-block  {
    align-self: flex-start;
  }

}